<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            
            <section name="QMK_Toolbox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="QMK_Flasher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="QMK_Toolbox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        
        <QMK_Toolbox.Properties.Settings>
            <setting name="hexFileSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="targetSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="autoSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="flashEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="resetEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="vendorSetting" serializeAs="String">
                <value>FEED</value>
            </setting>
            <setting name="deviceSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="availableDeviceSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="staticDeviceSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="productEnabledSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="vendorEnabledSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="deviceEnabledSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="productSetting" serializeAs="String">
                <value>6060</value>
            </setting>
            <setting name="outputZoom" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="keyboard" serializeAs="String">
                <value />
            </setting>
            <setting name="keymap" serializeAs="String">
                <value />
            </setting>
        </QMK_Toolbox.Properties.Settings>
        <QMK_Flasher.Properties.Settings>
            <setting name="hexFileSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="targetSetting" serializeAs="String">
                <value />
            </setting>
        </QMK_Flasher.Properties.Settings>
    </userSettings>
<applicationSettings>
        <QMK_Toolbox.Properties.Settings>
                <setting name="availableDevicesSetting" serializeAs="String">
                        <value>True</value>
                </setting>
                <setting name="staticDevicesSetting" serializeAs="String">
                        <value>False</value>
                </setting>
        </QMK_Toolbox.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RJCP.SerialPortStream" publicKeyToken="5f5e7b70c6a74deb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>