<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="40-System.IO.Compression" version="1.0.0.2" targetFramework="net452" />
  <package id="40-System.IO.Compression.FileSystem" version="1.0.0.2" targetFramework="net452" />
  <package id="Costura.Fody" version="1.6.2" targetFramework="net452" developmentDependency="true" />
  <package id="Fody" version="2.0.0" targetFramework="net452" developmentDependency="true" />
  <package id="hidlibrary" version="3.2.46.0" targetFramework="net452" />
  <package id="IntelHexFormatReader" version="2.2.2" targetFramework="net452" />
  <package id="MetroFramework.Design" version="1.2.0.3" targetFramework="net452" />
  <package id="MetroFramework.Fonts" version="1.2.0.3" targetFramework="net452" />
  <package id="MetroFramework.RunTime" version="1.2.0.3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="NLog" version="4.0.0" targetFramework="net452" />
  <package id="SerialPortStream" version="2.1.2" targetFramework="net452" />
  <package id="Syroot.Windows.IO.KnownFolders" version="1.0.2" targetFramework="net452" />
  <package id="System.Shim" version="1.0.0.1" targetFramework="net452" />
</packages>